.col, .col-3, .col-4, .col-6, .col-12, .col-lg-4, .col-xl-4 {
  padding: 1rem;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

.color1 {
  background-color: dodgerblue;
}

.color2 {
  background-color: red;
}

.color3 {
  background-color: green;
}

.color4 {
  background-color: royalblue;
}

.color5 {
  background-color: maroon;
}

.color6 {
  background-color: olive;
}

.color7 {
  background-color: steelblue;
}

.color8 {
  background-color: crimson;
}